doctype html
html(lang='fr')

    head
        meta(charset='UTF-8')
        title Forum
        link(rel="stylesheet", href="/css/home.css")
    if user
        div(class="navbar")
            li
                a(href="/") Home
            li
                a(href="/profile/" + user.id) Profil
            li
                a(href="/question") Question
            li
                if user.role === "admin"
                    a(href="/admin/")
                        span Administrateur
                else
                    a(href="") About
            div(class="right")
                li
                    a(href="deco") Deconnexion


    body
        if user
            div(class="toutou")
                h3 Questions
                div(class="container")
                    div(class="container-gauche")
                        img(src="image/111.png")
                        div(class="sous")
                            div(class="text")
                                p Designin in US
                                p United States, San francisco
                            div(class="boutt")
                                button(action="") Afficher
                    div(class="container-droite")
                        img(src="image/111.png")
                        div(class="sous")
                            div(class="text")
                                p Designin in US
                                p United States, San francisco
                            div(class="boutt")
                                button(action="") Afficher
                div(class="title")
                    p Toutes les questions
                div(class="tableau")
                    div(class="col1")
                        div(class="l1")
                            p titre
                        div(class="l1")
                            p auteur
                        div(class="l1")
                            p date
                        div(class="l1")
                            p

                    for actualite in actualites
                        actualite
                        div(class="tableau")
                            div(class="col1")
                                if actualite.resolvedAt === null
                                    div(class="l1")
                                        p #{actualite.title}
                                    div(class="l1")
                                        p #{actualite.user.username}
                                    div(class="l1")
                                        p #{moment(actualite.createdAt).fromNow()}
                                    div(class="l1")
                                        a(href="/affichage/" + actualite.id)
                                            button Afficher
                                else
                                    div(class="col1")
                                        div(class="l1")
                                            p #{actualite.title}
                                        div(class="l1")
                                            p #{actualite.user.username}
                                        div(class="l1")
                                            p #{moment(actualite.createdAt).fromNow()}
                                        div(class="l1")
                                            a(href="/affichage/" + actualite.id)
                                                button Résolu
        else
            div(class="block")
                div(class="co")
                    a(href="/connexion") Connectez-vous !
                div(class="ins")
                    a(href="/new") Inscrivez-Vous !
